@inject IJSRuntime JsRuntime;
@rendermode InteractiveServer
@inject GeneralSharedState SharedState

@code {

    /// <summary>
    ///     The ID of the channel.
    /// </summary>
    [Parameter]
    public ulong Id { get; set; }

    /// <summary>
    ///     The current HTTP client.
    /// </summary>
    [Parameter]
    public required HttpClient Client { get; set; }


    private async Task LockChannel()
    {
        SharedState.OpenQuestionBox();

        var result = await SharedState.QuestionBox.Task;
        if (result == GeneralSharedState.QuestionBoxState.Yes)
        {
            await Client.PostAsync($"Communication/messages/lock/{Id}", null);
        }
    }

    /// <summary>
    ///     Copy the channel ID to the clipboard.
    /// </summary>
    private void CopyToClipboard()
    {
        JsRuntime.InvokeVoidAsync("navigator.clipboard.writeText", Id.ToString());
    }

}



@* This action is supposed to lock the channel completely for users by setting the permission flag for sending messages to false. *@
<button type="button" title="Click here to lock or unlock this channel." class="btn-no-back"
        @onclick="LockChannel">
    <img
        src="@Assets["icons/message/lock.png"]"
        alt="Lock"
        width="32" height="32"
        draggable="false"
    />
</button>

@* This action is supposed to copy the ID of the channel. *@
<button type="button" @onclick="CopyToClipboard" title="Click here to copy the ID of this channel." class="btn-no-back">
    <img
        src="@Assets["icons/message/clipboard.png"]"
        alt="Clipboard"
        width="32" height="32"
        draggable="false"
    />
</button>