@code
{
    [Parameter] public string ConnectionString { get; set; } = "Loading";
}

<div class="loading-throbber">
    <ImgIcon AssetLocation="@Assets["anim/loading_throbber.gif"]"/>
    <p>@(ConnectionString)</p>
</div>