@using Microsoft.AspNetCore.Components.Authorization
@using RalseiBot.Web.Components.Widgets
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <ResourcePreloader/>
    <link rel="stylesheet" href="@Assets["app.css"]"/>
    <link rel="stylesheet" href="@Assets["RalseiBot.Web.styles.css"]"/>
    <link rel="icon" href="@Assets["favicon.png"]"/>
    <ImportMap/>
    <HeadOutlet/>
    <title>Ralsei Bot Control Panel</title>
</head>

<body>
<ConfirmationBox/>
<CascadingAuthenticationState>
    <Routes/>
</CascadingAuthenticationState>
<ReconnectModal/>
<script src="@Assets["_framework/blazor.web.js"]"></script>
<script src="_content/Blazor.Extensions.Canvas/blazor.extensions.canvas.js"></script>

</body>

</html>