@inherits LayoutComponentBase
@attribute [StreamRendering]

<h1 class="align-center">
    <img src="@Assets["favicon.png"]" alt="Logo" width="32" height="32"/>
    Ralsei Control Panel
</h1>

<div class="top-link-panel">
    <NavLink href="/">Home</NavLink>
    <NavLink href="/Communication">Communication</NavLink>
    <NavLink href="/Moderation">Moderation</NavLink>
</div>

@Body

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>