@inject NavigationManager NavigationManager
@using System.Reflection
@using RalseiBot.Web.Components.Widgets
@inherits LayoutComponentBase
@inject IHttpClientFactory ClientFactory
@attribute [StreamRendering]

@code
{
    private static string? Version
        => Assembly
            .GetEntryAssembly()?
            .GetCustomAttribute<AssemblyInformationalVersionAttribute>()?
            .InformationalVersion
            .Split("+")
            [1];
}

<TopNavigationPanel/>

<div class="bg-element"></div>

@Body

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>


<footer>
    <div class="info-panel">
        <ImgIcon AssetLocation="@Assets["icons/info.png"]"/>
        <p>Ralsei Version @Version</p>
    </div>
    <div class="info-panel">
        <ImgIcon AssetLocation="@Assets["icons/warning.png"]"/>
        <p>This bot is not affiliated with Toby Fox, the owner of DELTARUNE.</p>
    </div>
</footer>