@inject NavigationManager navigationManager
@using System.Reflection
@using RalseiBot.Web.Components.Widgets
@inherits LayoutComponentBase
@attribute [StreamRendering]

@code
{
    private string? Version => Assembly.GetEntryAssembly()?.GetCustomAttribute<AssemblyInformationalVersionAttribute>()?.InformationalVersion;
}

<TopNavigationPanel/>

@Body

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

<footer>
    <div class="info-panel">
        <ImgIcon AssetLocation="@Assets["icons/info.png"]"/>
        <p> Ralsei Version @(Version) </p>
    </div>
    <div class="info-panel">
        <ImgIcon AssetLocation="@Assets["icons/warning.png"]"/>
        <p> This bot is not affiliated with Toby Fox, the owner of DELTARUNE. It is merely a fan project. </p>
    </div>
</footer>